.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root{
  height: 100vh;
  width: 100vw;
  background-color: #347bd5;
}

.app-top-bar{
  display:flex;
  height: 80px;
  background-color: #1f4371;
  justify-content: space-between;
}

.app-title{
  color: white;
  padding: 0 10px;
  font-family: fantasy;
}

.input-container{
  display: flex;
  align-items: center;
}
.app-top-bar input{
  width: 150px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.app-top-bar button{
  height: 50px;
  padding: 3px 7px;
  border: none;
  background-color: transparent;
  margin-left: 5px;

}
.app-top-bar button:hover{
  cursor: pointer;
}

.App{
  height: 100%;
  width: 100%;
}

.daily-weather-container {
  display: flex;
  height: calc(100% - 80px);
  justify-content: space-around;
  color: white;
  overflow: scroll;
}


/* daily component css */
.description{
  text-transform: capitalize;
}

.weather-img{
  width: 80px;
}

.dayofweek{
  padding: 7px 13px;
}

.dayofweek h1{
  margin-bottom: 0;
}
.dayofweek h4{
  margin-top: 0;
}

.day-container{
  flex-direction: column;
  /* background-color: lightblue; */
  height: 350px;
  width: 200px;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
}

.temp-container{
  display: flex;
  flex-direction: column;
}
.temp-inner-container{
  display: flex;
  justify-content: space-around;
  height: 35px;
  align-items: center;
}
.temp{
  display: flex;
}
.max-min{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

/* found something from w3school and tweaked it a bit to fit my use*/
.dot{
  margin-top: 18px;
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid grey;
  margin-left: 1px;
  margin-right: 1px;
}

@media only screen and (max-width: 1060px) {
  .day-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .App{
    text-align: none;
  }
  .temp{
    margin-left: 19px;
  }
  .dayofweek{
    width: 160px;
  }
  .descrip-icon{
    display:flex;
    align-items: center;
    width: 220px;
  }
  .daily-weather-container{
    display: flex;
    flex-direction: column;
  }
  .temp-container{
    width: 180px;
  }
  .App .dayofweek{
    text-align: left;
  }
}
